.butt{
    padding: 5px;
    
}


.func{
    padding: 5px;
}
button{
    padding: 20px;
}

.functions{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.buttons{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
